# PyCharm specific files
.idea/
*.iml
*.iws
*.ipr
.vscode/
.pytest_cache/

backend/venv/

# Python specific files
__pycache__/
*.pyc
*.pyd
*.pyo
.venv/
.env
build/
dist/
*.egg-info/
.pytest_cache/
.coverage
htmlcov/

# Operating system specific files
.DS_Store
Thumbs.db

node_modules/
.env
